* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: #384f4b;
}
a {
  text-decoration: none;
}

/* for any  title*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
}
.section-title h2 {
  font-weight: 700;
  color: #384f4b;
}
.section-title h2::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #1bbca3;
  display: inline-block;
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #1bbca3;
  display: inline-block;
  margin: 0 0 10px 15px;
}

/* **************************************************** */
/* NavBar */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}
.nav-link {
  font-family: "Poppins", sans-serif;
  padding: 10px 15px !important;
  margin-left: 2px;
  font-size: 18px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  color: black;
}
.nav-link:hover {
  background-color: #1bbca3;
  color: white;
}
.navbar-nav .nav-item a.active {
  background-color: #1bbca3;
  color: white;
}
nav.navbar {
  padding: 15px 0;
}
.bg-body-tertiary {
  background-color: white !important;
}
.navbar-brand {
  font-family: "Inter", sans-serif;
  font-size: 31px;
  margin: 0;
  font-weight: 700;
  color: #384f4b;
  padding: 0;
}
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  left: -100%;
  top: 0;
  margin-top: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu {
  display: none;
}
/* **************************************************** */

#carouselExampleCaptions {
  height: 100vh;
  width: 100%;
}
.carousel-item {
  height: 100vh;
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}
.carousel-item {
  will-change: opacity, transform;
}
.carousel-caption {
  top: 30% !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.carouselCaptions .carousel-inner .carousel-item h5 {
  color: #fff;
}
.carouselCaptions .carousel-inner .carousel-item a:hover {
  background: color-mix(in srgb, #1bbca3, transparent 20%);
}
.carousel-caption .started {
  color: white;
  background: #1bbca3;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 8px 32px;
  border-radius: 50px;
  margin: 10px;
}

/* ***************************** */
.about .content .read-more {
  color: white;
  background: #1bbca3;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.about .content .read-more:hover {
  background: color-mix(in srgb, #1bbca3, black 20%);
  padding-right: 19px;
}
.about .content .read-more i {
  transition: all 0.3s;
}
.about .content .read-more:hover i {
  margin-left: 10px;
}
i.fa-regular.fa-circle-check {
  color: #1bbca3;
  font-size: 22px;
}
.container div.content h3.fw-bolder.fa-2x {
  color: #384f4b;
}

/* ***************************** */
#stats.section {
  color: #384f4b;
  background-color: #f2f5f4;
  padding: 60px 0;
  scroll-margin-top: 74px;
  overflow: clip;
}
.stats .stats-item {
  padding: 30px;
  width: 100%;
}
.stats .stats-item i {
  color: #1bbca3;
  display: block;
  font-size: 44px;
  float: left;
  line-height: 0;
}
.stats .stats-item .purecounter {
  color: #384f4b;
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  margin-left: 60px;
}
.stats .stats-item p {
  color: color-mix(in srgb, #444444, transparent 40%);
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
/* ***************************** */
#services.section {
  color: #384f4b;
  background-color: #fff;
  padding: 60px 0;
  scroll-margin-top: 74px;
  overflow: clip;
}
.services .service-item {
  background-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  position: relative;
  z-index: 1;
}
.services .service-item:before {
  content: "";
  position: absolute;
  background-color: #1bbca3;
  inset: 100% 0 0 0;
  transition: all 0.3s;
  z-index: -1;
}

.services .service-item:hover:before {
  inset: 0;
}
.services .service-item .icon {
  margin-bottom: 10px;
}
.services .service-item .icon i {
  color: #1bbca3;
  font-size: 36px;
  transition: ease-in-out 0.3s;
}
.services .service-item h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}
.services .service-item:hover h4 a,
.services .service-item:hover .icon i,
.services .service-item:hover p {
  color: #fff;
}
.services .service-item h4 a {
  color: #384f4b;
  transition: ease-in-out 0.3s;
}
a:hover {
  color: color-mix(in srgb, #1bbca3, transparent 25%);
  text-decoration: none;
}

/* ***************************** */
.call-to-action {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
  color: #fff;
  background-color: #0e1a18;
  scroll-margin-top: 74px;
  overflow: clip;
}
.call-to-action:before {
  content: "";
  background: color-mix(in srgb, #0e1a18, transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}
.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.call-to-action .container {
  position: relative;
  z-index: 3;
}
.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.call-to-action p {
  color: #fff;
}
.call-to-action .cta-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #1bbca3;
  color: #fff;
}
.call-to-action .cta-btn:hover {
  background: #1bbca3;
  border: 2px solid #1bbca3;
}
/* ***************************** */
#more-services {
  color: #444444;
  background-color: #fff;
  padding: 60px 0;
  scroll-margin-top: 74px;
  overflow: clip;
}
.more-services .card {
  background-color: #fff;
  color: #444444;
  padding: 30px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  border: 0;
}
.more-services .card:hover {
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}
.more-services .card:hover img {
  transform: scale(1);
}
.more-services .card img {
  padding: 0;
  transition: 0.5s;
  transform: scale(1.1);
}
.more-services .card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 18px;
}
/* ***************************** */
section,
.section {
  color: #444444;
  background-color: #fff;
  padding: 60px 0;
  scroll-margin-top: 74px;
  overflow: clip;
}
.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}
.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: #1bbca3;
}
.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio .isotope-container {
  position: relative;
}
.portfolio .portfolio-content {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-content img {
  transition: 0.3s;
}
.portfolio .portfolio-content:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}
.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: var(--accent-color);
}
.portfolio .portfolio-content .portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: #1bbca3;
}
.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}
.portfolio .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}
.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}
.portfolio .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}
.portfolio .portfolio-content .portfolio-info .preview-link:hover,
.portfolio .portfolio-content .portfolio-info .details-link:hover {
  color: #1bbca3;
}

/* ***************************** */
.team {
  color: #ffffff;
}
.team .member {
  text-align: center;
  position: relative;
  height: 100%;
}
.team .member .member-info {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  transition: 0.2s;
}
.team .member:hover .member-info {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: 0.4s;
}
.team .member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}
.team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}
.team .member h4 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}
.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
.team .member .social {
  margin-top: 15px;
}
.team .member .social a {
  transition: 0.3s;
  color: #fff;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .social a:hover {
  color: #1bbca3;
}
/* ***************************** */
#faq {
  color: rgb(68, 68, 68);
  padding: 60px 0;
  scroll-margin-top: 74px;
  overflow: clip;
  background-color: #f2f5f4;
}
.faq .content h3 {
  font-weight: 400;
  font-size: 35px;
}
.faq .content p {
  font-size: 15px;
  color: color-mix(in srgb, #444444, transparent 30%);
}
.faq .faq-container .faq-item {
  background-color: #ffffff;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 30px 0 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  color: #444444;
}
.faq .faq-container .faq-item h3:hover {
  color: #1bbca3;
}
.faq .faq-container .faq-item h3 .num {
  color: #1bbca3;
  padding-right: 5px;
}
.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
}
.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  color: #1bbca3;
}
.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}
.bi-chevron-right::before {
  content: "\f285";
}
/* ***************************** */
.contact .info-item {
  background: color-mix(in srgb, #444444, transparent 96%);
  padding: 30px;
}
.contact .info-item i {
  font-size: 38px;
  line-height: 0;
  color: #1bbca3;
}
.contact .info-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  background: color-mix(in srgb, #444444, transparent 96%);
  padding: 30px;
  height: 100%;
}
.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="email"],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: #444444;
  background-color: color-mix(in srgb, #fff, transparent 50%);
  border-color: color-mix(in srgb, #444444, transparent 80%);
}
.contact .php-email-form input[type="text"]::placeholder,
.contact .php-email-form input[type="email"]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, #444444, transparent 80%);
}
.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form button[type="submit"] {
  background: #1bbca3;
  color: #fff;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}
/* ***************************** */
.footer {
  color: #fff;
  background-color: #0e1a18;
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
}
.footer .footer-top {
  padding-top: 50px;
  border-top: 1px solid color-mix(in srgb, #fff, transparent 90%);
}
.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}
.footer .footer-about .logo span {
  color: #fff;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
}
.footer .footer-about p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, #fff, transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, #fff, transparent 50%);
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  color: #fff;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-links ul a {
  color: color-mix(in srgb, #fff, transparent 20%);
  display: inline-block;
  line-height: 1;
}
.footer .footer-contact p {
  margin-bottom: 5px;
}
.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: color-mix(in srgb, #fff, transparent 95%);
}
.footer .copyright p {
  margin-bottom: 0;
}
.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}
.footer .credits a {
  color: #1bbca3;
  transition: all 0.3s;
}
.footer .credits a:hover {
  color: color-mix(in srgb, #1bbca3, transparent 25%);
  text-decoration: none;
}
.scroll-top.active {
  visibility: visible;
  opacity: 1;
}
.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #1bbca3;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.dropdown-toggle::after {
  visibility: hidden;
  opacity: 0;
}
/* ***************************** */

@media (max-width: 768px) {
  .carousel-caption .carousel-header {
    font-size: 30px;
  }
  .carousel-caption p.text-start {
    width: 110% !important;
  }
}
